{define #page-content}

	{control vp}
	{control itemList $control->getItemsBuilder()->orderBy('r.released', 'DESC')->orderBy('r.created', 'DESC')->getQuery()->getResult()}
	{control vp}

{/define}
